/* Contact.css */
.contact-form {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2.5rem 4rem;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #f0f0f0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#name {
  cursor: pointer;
}

.subtitle {
  text-align: center;
  color: #6c63ff;
}

#name:hover {
  background-color: #6c63ff;
}

#email {
  cursor: pointer;
}

#email:hover {
  background-color: #6c63ff;
}

#subject {
  cursor: pointer;
}

#subject:hover {
  background-color: #6c63ff;
}

#message {
  cursor: pointer;
}

#message:hover {
  background-color: #6c63ff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background-color: #3a3a3a;
}

.contact-form textarea {
  resize: vertical;
  min-height: 120px;
}

.contact-form button {
  width: 105%;
  padding: 0.75rem 1.5rem;
  background-color: #6c63ff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #5548e0;
}

#result {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #6c63ff;
}

.fade-in {
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
}

.fade-in:nth-child(even) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20deg);
    opacity: 0;
  }

  to {
    transform: translateY(40deg);
    opacity: 1;
  }
}
