#title {
    text-align: center;
    color: #a971f5;
}

#resume {
    display: block;
    text-align: center;
    margin: 5rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#aboutResume {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #6c63ff;
}

.resume-section {
    padding: 2rem;
    background-color: #121212;
    color: #e0e0e0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 2.5rem;
    color: #a855f7;
    margin-bottom: 1rem;
}

.intro {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.resume-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

#skills {
    text-align: center;
    color:  #a855f7;
}

#certifications {
    font-size: 20px;
    text-align: center;
    color:  #a855f7;
}

#certificationList {
    text-align: center;
    color: #857ff6;
}

#whyMe {
    color: #a855f7;
}

#info {
    color: #857ff6;
}

.btn-preview-btn {
    background-color: #a855f7;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

.btn-download-btn {
    background-color: #a855f7;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
}

.btn-download-btn:hover {
    background-color:#9333ea;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #a855f7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.icons {
    text-align: center;
}

.btn:hover {
    background-color: #9333ea;
}

.resume-preview iframe {
    width: 100%;
    height: 600px;
    border: 1px solid #333;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

#btn-download-btn {
    text-align: center;
}

#btn-preview-btn {
    text-align: center;
}

.skills, .certifications {
    margin-top: 2rem;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #1f1f1f;
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    border-radius: 4px;
}

.skills li:hover {
    background-color: #a855f7;
    margin: 0.5rem;
    cursor: pointer;
}

.fade-in {
    animation: fadeInUp 0.6s ease forwards;
    opacity: 0;
}

.fade-in:nth-child(even) {
    animation-delay: 0.2s;
}

.fade-in:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(20px);
        opacity: 1;
    }
}
