body.dark-mode {
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
}

body.light-mode {
    background-color: rgb(243, 241, 241);
    transition: background-color 0.3s ease-in-out;

}

#toggleIcon {
    display: inline-flexbox;
    padding: 8px 12px;
    border: none;
    background: #ccc;
    border-radius: 4px;
    cursor: pointer;
}
